<div class="container-fluid">
    <h2>Login</h2>

    <input [(ngModel)]="username"
           placeholder="User Name"
           class="form-control"/>
    <input [(ngModel)]="password"
           type="password" placeholder="Password"
           class="form-control"/>
    <button (click)="login()"
            class="btn btn-primary btn-block"> Login
    </button>

    <a class="btn btn-success" routerLink="/register">Register</a>
    <a class="btn btn-success" routerLink="/home">Home</a>
</div>
