h2{
    text-align: center;
    color: maroon;
    margin: 30px;
}

.btn-block {
    padding: 10px;
}

h5{
    color: #6d0054;
    margin: 20px;
}

.btn{
    color: black;
    margin: 5px;
}

input {
    margin: 5px;
}

.list-group-item {
    color: purple;
    background: #c5c963;
}

.card {
    margin: 20px;
    color: maroon;
    background: orange;
}