<div class="container">
    <h3 id="title">Sections</h3>
    <table class="table table-hover">
        <thead>
        <tr id="wbdv-table-header">
            <th>Name</th>
            <th>Maximum Capacity</th>
            <th>Remaining Seats</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input [(ngModel)]="sectionName" class="form-control"
                            placeholder="Name of Section"/>
            </td>
            <td>
                <input [(ngModel)]="seats" class="form-control"
                       placeholder="Remaining Seats" disabled/>
            </td>
            <td>
                <input [(ngModel)]="maxSeats" class="form-control"
                       placeholder="Maximum Seats"/>
            </td>
            <td>
                <span class="float-right" style="white-space: nowrap">
                    <i class="fa-2x fa fa-plus " (click)="createSection()"></i>
                    <i class="fa-2x fa fa-check wbdv-update" (click)="updateSection(sectionName, maxSeats)"></i>
                </span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let section of sections">
            <td> {{section.name}}</td>
            <td > {{section.maxSeats}} </td>
            <td> {{section.seats}}</td>
            <td>
                <span class="float-right">
                    <i class="far fa-edit fa" (click)="editSection(section)"></i>
                    <i class="far fa-trash fa" (click)="deleteSection(section._id)"></i>
                </span>
            </td>
        </tr>

        </tbody>
        <tfoot></tfoot>
    </table>
</div>