<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">
    <h1 id="title">Sections</h1>
    <table class="table table-hover">
        <thead>
        <tr id="wbdv-table-heading">
            <th>Name</th>
            <th>MaxSeats</th>
            <th>Remaining</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input [(ngModel)]="sectionName" class="form-control"
                            placeholder="Name of Section"/>
            </td>
            <td>
                <input [(ngModel)]="seats" class="form-control"
                       placeholder="Remaining Seats" disabled/>
            </td>
            <td>
                <input [(ngModel)]="maxSeats" class="form-control"
                       placeholder="Maximum Seats"/>
            </td>
            <td>
                <span class="float-right" style="white-space: nowrap">
                    <button class="fa-2x fa fa-plus " (click)="createSection()">
                        Create
                    </button>
                    <button class="fa-2x fa fa-check wbdv-update" (click)="updateSection(sectionName, maxSeats)">
                        Update
                    </button>
                </span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let section of sections">
            <td> {{section.name}}</td>
            <td > {{section.maxSeats}} </td>
            <td> {{section.seats}}</td>
            <td>
                <span class="float-right">
                    <button (click)="editSection(section)">Edit</button>
                    <button (click)="deleteSection(section._id)">Delete</button>
                </span>
            </td>
        </tr>

        </tbody>
        <tfoot></tfoot>
    </table>
</div>