<div class="container">
    <h1 id="title">Sections</h1>
    <table class="table table-hover">
        <thead>
        <tr id="wbdv-table-heading">
            <th>Name</th>
            <th>MaxSeats</th>
            <th>Remaining</th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input [(ngModel)]="sectionName" class="form-control"
                            placeholder="Name of Section"/>
            </td>
            <td>
                <input [(ngModel)]="seats" class="form-control"
                       placeholder="Remaining Seats" disabled/>
            </td>
            <td>
                <input [(ngModel)]="maxSeats" class="form-control"
                       placeholder="Maximum Seats"/>
            </td>
            <td>
                <span class="float-right" style="white-space: nowrap">
                    <button class="fa-2x fa fa-plus " (click)="createSection(sectionName, maxSeats)">
                        Create
                    </button>
                    <button class="fa-2x fa fa-check wbdv-update" (click)="updateSection(sectionName, maxSeats)">
                        Update
                    </button>
                </span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let section of sections">
            <td> {{section.name}}</td>
            <td > {{section.maxSeats}} </td>
            <td> {{section.seats}}</td>
            <td>
                <span class="float-right">
                    <button class="fa-2x fa fa-edit  " (click)="editSection(section)">Edit</button>
                    <button class="fa-2x fa fa-minus-circle " (click)="deleteSection(section._id)">Delete</button>
                </span>
            </td>
        </tr>

        </tbody>
        <tfoot></tfoot>
    </table>
</div>