.row {
    padding: 30px;
}

h2 {
    padding: 20px;
    color: brown;
    text-align: center;
}

h3 {
    color: black;
}

h6 {
    color: purple;
}

.list-group {
    text-align: center;

}

.btn{
    color: black;
    margin: 10px;
}

.typer {
    color: purple;
    margin: 10px;
}