<h2>Admin Page</h2>
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item active">
                <h3>Courses</h3>
            </li>
            <li *ngFor="let course of courses"
                class="list-group-item wbdv">
                <a routerLink="/course/{{course.id}}/section">
                    <h5>{{course.title}}</h5>
                </a>
                <h6>
                    {{course.contentType}} course
                </h6>
                <div *ngIf="course.contentType === 'public';">
                    <button class="btn btn-outline-success typer" (click)="changeContentType(course.id, 'private')">
                        Set to private Class?
                    </button>
                </div>
                <div *ngIf="course.contentType === 'private';">
                    <button class="btn btn-outline-success typer" (click)="changeContentType(course.id, 'public')">
                        Set to public Class?
                    </button>
                </div>
            </li>
        </ul>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
        <button class="btn btn-primary" routerLink="/home">Home</button>
    </div>
    <div class="col-8">
        <app-section-viewer></app-section-viewer>
    </div>
</div>