<h2>Course Grid ({{courses.length}})</h2>

<div class="row">
    <div *ngFor="let course of courses" class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{course.title}}</h5>
                <p class="card-text">This is a course! Select an option :)</p>
                <a routerLink="/course/{{course.id}}"
                   class="btn btn-primary">Course Details</a>

                <div *ngIf="login_check !== ''; else elseSectionsBlock">
                    <a routerLink="/course/{{course.id}}/enroll"
                       class="btn btn-primary">Enroll
                    </a>
                </div>
                <ng-template #elseSectionsBlock>
                    <a routerLink="/login"
                       class="btn btn-primary">Enroll
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>
